dbt_project_yml_path: '/Users/test/tuva/dbt_project.yml'
download_directory: '/Users/test/postgres-loader/download'
pg_connection_string: 'postgresql://postgres:password@localhost:5432/tuva'
seeds_directory: '/Users/test/tuva/seeds/'
